{% extends 'base.html.twig' %}

{% block title %}CoolStuff{% endblock %}

{% block body %}
    <h1>CoolStuff</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cool_stuff.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ cool_stuff.name }}</td>
            </tr>
            <tr>
                <th>Cool</th>
                <td>{{ cool_stuff.cool ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('cool_stuff_index') }}" class="btn btn-outline-info btn-sm">back to list</a>

    <a href="{{ path('cool_stuff_edit', {'id': cool_stuff.id}) }}" class="btn btn-outline-info btn-sm">edit</a>

    <br><br>
    {{ include('cool_stuff/_delete_form.html.twig') }}
{% endblock %}